<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Fact</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
  />
  </head>
  <body>
    <div class="container"><h1>Add New Fax!</h1></div>
    <div class="facts-container">
      <div class="callout">
        Submit some cool Fax of your own!
    </div class="facts-container">
      <form action="/facts" method="POST">
        <label for="submitter"><h2>Name</h2></label>
        <input name="submitter" type="text" />
        <br />
        <label for="fact"><h2>Fact</h2></label>
        <textarea name="fact"></textarea>
        <br />
        <input type="submit" value="Submit the Fact" />
      </form>
    </div>
    <div>
      <a href="/pets">Go back</a>
    </div>
  </body>
</html>
