<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to PetFax</h1>
    {% for pet in pets %}
    <h2>{{pet.pet_name}}</h2>
    <img src="{{pet.pet_photo}}" alt="photo of pet" />
    <div>
      <a href="/pets/fact/{{ pet.pet_id }}"
        >Learn more about {{ pet.pet_name }}</a
      >
    </div>
    {% endfor %}
    <a href="./add_new.html">
        Add Facts
    </a>
  </body>
</html>
